[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot
[submodule "zsh/antigen"]
    path = zsh/antigen
    url = https://github.com/zsh-users/antigen.git
[submodule "nvim/kickstart.nvim"]
	path = nvim/kickstart.nvim
	url = https://github.com/nvim-lua/kickstart.nvim
