nvim/plugged/
nvim/undo/
nvim/.init.vim-rplugin~

zsh/.zcompdump

.ropeproject/
__pycache__/
__init__.py

ranger/bookmarks
ranger/history
ranger/scope.sh
ranger/tagged

mpv/scripts/stats.lua
nvim/autoload/plug.vim.old

*.pyo
*.zwc
