[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot
[submodule "nvim/kickstart.nvim"]
    path = nvim/kickstart.nvim
    url = https://github.com/nvim-lua/kickstart.nvim
